{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 130,
	"bracketSpacing": true,
	"arrowParens": "always",
	"tabWidth": 4,
	"semi": true,
	"jsxBracketSameLine": true,
	"bracketSameLine": true,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
